.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }

/* 去掉导航栏项目底下的蓝色长条 */
#nav *::after{
  background-color: transparent!important;
}

/* 顶栏常驻 */
.nav-fixed #nav{
  transform: translateY(58px)!important;
  -webkit-transform: translateY(58px)!important;
  -moz-transform: translateY(58px)!important;
  -ms-transform: translateY(58px)!important;
  -o-transform: translateY(58px)!important;
}
#nav{
  transition: none!important;
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -ms-transition: none!important;
  -o-transition: none!important;
}

/* 一级菜单居中 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
/* #nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
} */
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
/* .menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -60px;
} */

/* 霓虹灯 */
/* 日间模式不生效 */
[data-theme="light"] #site-name,
[data-theme="light"] #site-title,
[data-theme="light"] #site-subtitle,
[data-theme="light"] #post-info {
  animation: none;
}

/* 夜间模式生效 */
[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
  animation: light_15px 10s linear infinite;
}
[data-theme="dark"] #site-subtitle {
  animation: light_10px 10s linear infinite;
}
[data-theme="dark"] #post-info {
  animation: light_5px 10s linear infinite;
}

/* 关键帧描述 */
@keyframes light_15px {
  0% {
    text-shadow: #e5e3f0 0 0 15px;
  }
  12.5% {
    text-shadow: #9d98a8 0 0 15px;
  }
  25% {
    text-shadow: #59526b 0 0 15px;
  }
  37.5% {
    text-shadow: #e5e3f0 0 0 15px;
  }
  50% {
    text-shadow: #9d98a8 0 0 15px;
  }
  50% {
    text-shadow: #59526b 0 0 15px;
  }
  62.5% {
    text-shadow: #e5e3f0 0 0 15px;
  }
  75% {
    text-shadow: #9d98a8 0 0 15px;
  }
  87.5% {
    text-shadow: #59526b 0 0 15px;
  }
  100% {
    text-shadow: #e5e3f0 0 0 15px;
  }
}

@keyframes light_10px {
  0% {
    text-shadow: #e5e3f0 0 0 10px;
  }
  12.5% {
    text-shadow: #9d98a8 0 0 10px;
  }
  25% {
    text-shadow: #59526b 0 0 10px;
  }
  37.5% {
    text-shadow: #e5e3f0 0 0 10px;
  }
  50% {
    text-shadow: #9d98a8 0 0 10px;
  }
  50% {
    text-shadow: #59526b 0 0 10px;
  }
  62.5% {
    text-shadow: #e5e3f0 0 0 10px;
  }
  75% {
    text-shadow: #9d98a8 0 0 10px;
  }
  87.5% {
    text-shadow: #59526b 0 0 10px;
  }
  100% {
    text-shadow: #e5e3f0 0 0 10px;
  }
}

@keyframes light_5px {
  0% {
    text-shadow: #e5e3f0 0 0 5px;
  }
  12.5% {
    text-shadow: #9d98a8 0 0 5px;
  }
  25% {
    text-shadow: #59526b 0 0 5px;
  }
  37.5% {
    text-shadow: #e5e3f0 0 0 15px;
  }
  50% {
    text-shadow: #9d98a8 0 0 5px;
  }
  50% {
    text-shadow: #59526b 0 0 5px;
  }
  62.5% {
    text-shadow: #e5e3f0 0 0 5px;
  }
  75% {
    text-shadow: #9d98a8 0 0 5px;
  }
  87.5% {
    text-shadow: #59526b 0 0 5px;
  }
  100% {
    text-shadow: #e5e3f0 0 0 5px;
  }
}
